body
{
    background: #595959;
}

#web-audio-api-board-demo-content-wrapper
{
    width: 50%;
    min-width: 700px;
    margin: auto;
    vertical-align: top;
}

#web-audio-api-board-demo-control-bin, #web-audio-api-board-demo-board
{
    min-height: 35px;
    min-width: 35px;
    display: inline-block;
    margin: 0.5em;
    vertical-align: top;
}

#web-audio-api-board-demo-control-bin
{
    margin-right: 2em;
}

.web-audio-api-board-demo-control-ui-row
{
    margin: 0.5em;
    padding: 1em;
    padding-top: 0em;
}

#board-table
{
    min-width: 100px;
    min-height: 100px;
}

#board-table .table-cell, #web-audio-api-board-demo-control-bin, .control-bin-item, .web-audio-api-board-demo-control-ui-row
{
    border: 1px solid #d3d3d3;
}

#board-table .table-cell{
    height: 50px;
    width: 50px;
}

/* --- Control Bin --- */
.control-bin-item
{
    height: 32px;
    width: 32px;
    margin: 0.5em;
}

#control-bin-item-sin-wav{
    background-image: url('images/sin-icon.gif');
}

#control-bin-item-speaker-out
{
    background-image: url('images/speaker-icon.gif');
}

#control-bin-item-sample
{
    background-image: url('images/boombox-icon.gif');
}

#control-bin-item-delay
{
    background-image: url('images/delay-icon.gif');
}

#control-bin-item-lp
{
    background-image: url('images/lowpass-icon.gif');
}

#white-bin-item-white-noise
{
    background-image: url('images/white-noise-icon.gif');
}
